<div class="books-container">
  <div
    fxLayout="row wrap"
    rowWrap="100"
    fxLayoutAlign="space-around center"
    fxLayout.sm="column"
    fxLayout.xs="column"
  >
    <div *ngFor="let book of books" fxFlex="25">
      <mat-card class="book" (click)="navigateBook(book)">
        <div fxLayout="row">
          <div fxFlex="50">
            <img
              class="mat-elevation-z4"
              src="{{ book.imageUrl }}"
              width="90%"
            />
          </div>
          <div fxFlex="50">
            <div fxLayout="column">
              <h4 class="title">
                <b>{{ book.title }}</b>
              </h4>
              <p class="authors">
                <ng-container *ngIf="book.authors">
                  <div *ngFor="let author of book.authors">{{ author }};</div>
                </ng-container>
              </p>
              <div
                class="bookinfos"
                fxLayout="column"
                fxLayoutAlign="end start"
              >
                <p class="bookinfo">{{ book.pageCount }} páginas</p>
                <p class="bookinfo">{{ book.publisher }}</p>
                <p class="bookinfo">Publicado em {{ book.published }}</p>
              </div>
            </div>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
  <div fxLayout="row" fxLayoutAlign="end end" fxLayoutGap="10px">
    <p>Página {{ currentPage }} de {{ totalPages }}</p>
    <button mat-icon-button (click)="onPreviousPage()">
      <mat-icon>navigate_before</mat-icon>
    </button>
    <button mat-icon-button (click)="onNextPage()">
      <mat-icon>navigate_next</mat-icon>
    </button>
  </div>
</div>
