<div class="background">
  <mat-toolbar class="toolbar">
    <div style="margin-right: 20px; margin-left: 20px">
      <img src="../../../assets/images/black_logo.svg" />
    </div>
    <div>
      <p class="title">Books</p>
    </div>
    <span class="spacer"></span>
    <h2 style="margin-right: 10px" fxShow="true" fxHide.lt-md="true">
      Bem vindo, <b>{{ userName }}!</b>
    </h2>
    <button mat-icon-button (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>
  </mat-toolbar>
  <div [ngClass]="{ foreground: loading }" style="height: 88vh">
    <div class="center" fxLayout="row" fxLayoutAlign="center center">
      <div fxFlex="100">
        <mat-spinner class="mx-auto center" *ngIf="loading" [diameter]="50">
        </mat-spinner>
      </div>
    </div>
    <div [ngClass]="{ background: loading }">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
